* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  background-color: whitesmoke;
  height: 90px;
  width: 100%;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}
.logo {
  height: 45px;
  /* background: transparent !important; */
}
nav ul {
  float: right;
  margin-right: 30px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: grey;
  font-size: 22px;
  padding: 7px 13px;
  border: 2px solid grey;
  border-radius: 5px;
  text-transform: uppercase;
}
li a:hover {
  background-color: yellow;
  transition: 0.5s;
}

.boton-menu {
  font-size: 28px;
  color: green;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  border: none;
  background-color: whitesmoke;
  display: none;
}
section {
  background: url(https://images8.alphacoders.com/570/thumb-1920-570408.jpg)
    no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

#wrapper-container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
/* LOGOS IMAGENES */
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: 150px;
  gap: 10px;
  padding: 15px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  /* border: 1px solid white; */
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  /* Centrado imagen y configuracion */
  
  background-position: center;  
  background-repeat: no-repeat;
}
.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
.grid-item img{
  height: 150px;
}



@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  .boton-menu {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 30px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: red;
  }
  #botonactivado:active ~ ul {
    left: 0;
  }
}
